<nav class="navbar">
  <span class="brand-title">
    <h1 (click)="goBack()">
      Mini Nextflix
    </h1>
  </span>
  <a  class="toggle-button" #toggleButton (click)="handleToggleActive()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div  class="navbar-links" [class.active]="isNavbarActive">
    <ul>
      <a href="https://www.netflix.com/" class="netflix-btn" aria-label="Join Now" target="_blank">
        Join Now
      </a>
      <button class="secondary-btn" aria-label="Sign In">
        Sign In
      </button>
      <!-- <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li> -->
    </ul>
  </div >

</nav>