<div class="movie-details-container">

  <body *ngIf="loadedMovie">
    <main>
      <section class="movies-grid">
        <div class="section-center">
          <!-- poster -->
          <article class="movie-img">
            <div class="movie-picture-container">
              <img src="{{ loadedMovie.Poster }}" alt="{{ loadedMovie.Title }}" class="movie-picture" />
            </div>
          </article>
          <!-- about info -->
          <article class="movie-info">
            <!-- title -->
            <div class="section-title">
              <h2>{{ loadedMovie.Title }}</h2>
            </div>
            <!-- description -->
            <p class="about-text">
              {{ loadedMovie.Plot }}
            </p>
            <!-- rating -->
            <p class="movie-rating" aria-label="Movie Rating">
              Rating: {{ loadedMovie.imdbRating }}/10
            </p>
            <!-- button div -->
            <div class="btn-container">

              <button class="secondary-btn" aria-label="Back to menu" aria-label="Go back" (click)="goBack()">
                Go Back to Movies Menu
              </button>

            </div>
          </article>
        </div>
      </section>
    </main>
  </body>
</div>