<div class="movie-details-container">

  <body *ngIf="loadedMovie">
    <app-navbar></app-navbar>
    <main>
      <section class="movies-grid">
        <div class="section-center">
          <!-- poster -->
          <article class="movie-img">
            <div class="movie-picture-container">
              <img src="{{ loadedMovie.Poster }}" alt="{{ loadedMovie.Title }}" class="movie-picture" />
            </div>
          </article>
          <!-- about info -->
          <article class="movie-info">
            <!-- title -->
            <div class="section-title">
              <h3>{{ loadedMovie.Title }}</h3>
            </div>
            <!-- description -->
            <p class="about-text">
              {{ loadedMovie.Plot }}
            </p>
            <!-- rating -->
            <p class="movie-rating" aria-label="Movie Rating">
              Rating: {{ loadedMovie.imdbRating }}/10
            </p>
            <!-- button div -->
            <div class="btn-container">
              <a href="https://www.netflix.com/" class="netflix-btn" aria-label="Join Now" target="_blank">
                Join Now
              </a>
              <button class="secondary-btn" aria-label="Sign In" aria-label="Go back" (click)="goBack()">
                Go Back
              </button>

            </div>
          </article>
        </div>
      </section>
    </main>
  </body>
</div>