/* You can add global styles to this file, and also import other style files */
// Bebas Neue
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --darkGrey: #afafaf;
  --background-color-light: #ffffff;
  --text-color: #121212;

  --background-color-dark: #121212; // ! final bg dark color
  --background-color-lighter: #333333;
  --text-color-light: #ffffff; //! final light color
  --transition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color-dark);
}

app-navbar {
  display: block;
  width: 100%;
}

body {
  display: contents;
}

a {
  text-decoration: none;
}
button{
  text-transform: uppercase;
}

// Netflix header font
h1 {
  font-family: "Bebas Neue", sans-serif;
}
h2,
h3,
h4,
h5,
p {
  color: var(--text-color-light);
  font-family: "Roboto", sans-serif;
}
// global font size
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.movies-grid {
  min-width: 100%;
  gap: 1rem;
  justify-content: center;
}



.netflix-btn {
  background-color: rgb(229, 9, 20);
  color: var(--text-color-light);
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 400;
}

.netflix-btn:hover {
  background-color: rgb(200, 9, 20);
}

.secondary-btn {
  background-color: var(--background-color-dark);
  color: #ffffff;
  border: 0.5px solid #ffffff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Lighter background color on hover */
.secondary-btn:hover {
  background-color: #555;
}



.section-center {
  width: 85vw;
  max-width: 720px;
  margin: 2rem auto;


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;

}



// medium
@media screen and (min-width: 768px) {

  .movie-img,.movie-info{
  padding: 2rem 0;
  }
}

// large
@media screen and (min-width: 1024px) {

}
